<div class="jumbotron text-center">
    <h3>TODO Add</h3>
</div>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="control-label col-sm-2" for="title">제목:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Enter Title" [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="control-label col-sm-2" for="content">내용 : </label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="content" placeholder="Enter Content" [(ngModel)]="todo.content" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <button type="submit" class="btn btn-primary btn-block" (click)="save()">저장</button>
                <button type="button" class="btn btn-default btn-block" (click)="cancel()">취소</button>
                <button type="button" class="btn btn-default btn-block" (click)="cancel()">릴리즈수정1</button>
                <button type="button" class="btn btn-default btn-block" (click)="cancel()">핫픽스수정 1</button>
                <button type="button" class="btn btn-default btn-block" (click)="cancel()">핫픽스수정 2</button>
            </div>
        </div>
    </form>
</div>